[Desktop Entry]
Version=1.1
Type=Application
Name=AudMeS
GenericName=AudMeS
Comment=Audio Measurement System
Icon=audmes
Exec=AudMeS
Actions=
Categories=AudioVideo;
Keywords=alsa;musicrealtime;standalone;
